# Dataset - DO NOT upload to GitHub
images/
labels/

# YOLO training outputs
runs/
*.pt

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
tempCodeRunnerFile.py
